<div class="container mt-4 bg-dark">
  <h1 class="m-2 p-2 text-center text-light">投稿一覧</h1>
  <div class="text-end mb-5">
    <% if user_signed_in? %>
      <%= link_to "新規投稿", new_post_path, class: "btn btn-primary" %>
    <% end%>
  </div>
  <%# 検索用フォーム表示 %>
  <%= render 'public/searches/search_form' %>
  <%# 投稿一覧呼び出し %>
  <%= render 'public/shared/post_list', posts: @posts %>
</div>
