<div class="container mt-4 ">
  <div class= "row bg-dark ">
    <div class= "col ">
      <h1 class= "m-3 text-light ">ゲーマー募集会所</h1>
    </div>
  </div>
  <div class= "row border border-secondary">
    <div class ="col ">
      <h2 class= "mt-4">サイト概要</h2>
      <p>ゲーム好きが仲間の募集や、攻略情報、ゲーム画面キャプチャをシェアできるコミュニティサイトです。</p>
      <h3>投稿掲示板</h3>
      <p>ゲームキャプチャを投稿して情報交換できます</p>
      <p>いいね！を送ったり  コメントをすることもできます</p>
      <h3>グループ</h3>
      <p>グループ作成を作成したり、他ユーザーのグループに参加できたりします。</p>

    </div>
  </div>
</div>