<h1>Homes#about</h1>
<p>Find me in app/views/homes/about.html.erb</p>

<h1>ゲーマー募集会所</h1>

<div class="container mt-4 ">
  <h2>サイト概要</h2><br>

  <p>ゲーム好きが仲間の募集や、攻略情報、ゲーム画面キャプチャをシェアできるコミュニティサイトです。</p>

  <h2>投稿掲示板</h2><br>
  <p>ゲームキャプチャを投稿して情報交換できます</p>
</div>