
<% if user_signed_in? %>
  <div class="container mt-4 text-center">
    <h1>ようこそ！  ゲーマー募集会所  へ</h1><br>
    <p>上部のメニューから各種ページをご利用ください</p>
  </div>
<%else%>

  <div class="container mt-4 ">
    <button type="button" class="btn btn-outline-primary btn-lg btn-block " >
      <%= link_to  new_user_session_path do %>
        <i class ="text-dark">ログイン</i>
      <%end%>
    </button>

    <button type="button" class="btn btn-outline-success btn-lg btn-block" >
      <%= link_to  new_user_registration_path do %>
       <i class ="text-dark">新規登録</i>
      <%end%>
    </button>

    ※ログインしていない場合は投稿の閲覧のみ可能です
  </div>
<%end%>  