
<% if user_signed_in? %>
  <div class="container mt-4 text-center">
    <h1>ようこそ！  ゲーマー募集会所  へ</h1><br>
    <p>上部のメニューから各種ページをご利用ください</p>
  </div>
<%else%>

  <div class="container mt-4 ">
 
    <%= link_to new_user_session_path, class: "btn btn-outline-primary btn-lg btn-block text-dark" do %>
      <i>ログイン</i>
    <% end %>

    <%= link_to new_user_registration_path, class: "btn btn-outline-success btn-lg btn-block text-dark" do %>
      <i>新規登録</i>
    <% end %>

    ※ログインしていない場合は投稿の閲覧のみ可能です
  </div>
<%end%>  