<h1>グループ管理</h1>
<div class="container">
  
<h2>グループ一覧</h2> 
 <% @groups.each do |group| %>
      
        <div class="row align-items-center border border-primary">
          <div class="col-md-4">
            <%= image_tag group.get_group_image(100,100) %>
          </div>

          <div class="col-md-8">
            <div>
              グループ名: <%= group.name %> <br>
              <% if group.introduction.present? %>
                introduction: <%= group.introduction %>
              <% end %> 
              <%= link_to "削除", admin_group_path(group), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
            </div>
          </div>
        </div>
       
    <% end %> 
</div>

 