<h1>UserUsers#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div class="container mt-4 ">

  <h1 class="mb-5 text-center ">ユーザー一覧</h1>

  <%# ユーザー一覧呼び出し %>
  <%= render 'public/shared/user_list', users: @users %>

</div>        
          
